* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  background-image: url("/assets/background.png");
  height: 100vh;
  width: 100vw;
}

.yellow,
.red,
.orange {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  transition: ease 1s;
  background-image: url("/assets/background.png");
}

.yellow {
  justify-content: center;
}

.tree {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.tree_2 {
  position: absolute;
  bottom: 1%;
  left: 0;
}

.orange {
  justify-content: space-around;
}

.red {
  justify-content: right;
}

.nav_container {
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  position: fixed;
  display: flex;
  gap: 5em;
}

.nav_container button {
  padding: 1em;
  font-size: 1rem;
  cursor: pointer;
}

.sprite_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0);
}

.sprite {
  width: 8%;
  height: auto;
}

.hide {
  opacity: 0;
}

.path {
  background-color: rgba(165, 42, 42, 0.685);
  padding: 1em;
  border: 1px solid purple;
  width: 100%;
}

.slide_left {
  animation: slideInLeft 1.5s ease-in-out;
}

.slide_right {
  animation: slideInRight 1.5s ease-in-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-600%);
    opacity: 0.1;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(600%);
    opacity: 0.1;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
